form{
    background: #7d0a48;
    border-radius: 15px;
    padding: 20px;
    border: 2px blue;


}
input,select{
    margin: 12px 0;
}
label{
    color: white;
}
.buttons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#update{
    background: blue;
    border: solid 2px;
    border-radius: 15px 0 15px 0;
    padding: 40px;
    margin-top: 10px;
}




